<title>{{title}}</title>
<div>
  <button (click)="toggleBtn($event.target, ticTacToeList[0])">1</button> 
  <button (click)="toggleBtn($event.target, ticTacToeList[1])">2</button>
  <button (click)="toggleBtn($event.target, ticTacToeList[2])">3</button><br>
  <button (click)="toggleBtn($event.target, ticTacToeList[3])">4</button>
  <button (click)="toggleBtn($event.target, ticTacToeList[4])">5</button>
  <button (click)="toggleBtn($event.target, ticTacToeList[5])">6</button><br>
  <button (click)="toggleBtn($event.target, ticTacToeList[6])">7</button>
  <button (click)="toggleBtn($event.target, ticTacToeList[7])">8</button>
  <button (click)="toggleBtn($event.target, ticTacToeList[8])">9</button>
</div>

<div>
  {{outPut}}
</div>